h2{color: pink;
  font-size: 1.5em;
  font-family: sans-serif;}

h3{color: red;
  font-family: sans-serif;}
li{color: purple;
  font-family: sans-serif;}
p{color: Green;
  font-size: 1.5em;
  font-family: sans-serif;}

